<div class="card-header p-3">
  <h5 class="mb-0">Users</h5>
</div>

<div class="text-end p-3">
  <p style="color: green"><%= notice %></p>
  <%= link_to "New flat", new_flat_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
</div>

<div id="users" class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
  <table>
    <thead>
      <tr>
        <th scope="col">Owner</th>
        <th scope="col">Name</th>
        <th scope="col">Latitude</th>
        <th scope="col">Longitude</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @flats.each do |flat| %>
        <tr id="flat_<%= flat.id %>", scope="row">
          <%= render flat %>
        <tr>
      <% end %>
    </tbody>
  </table>
</div>
