<div class="card-header p-3">
  <h5 class="mb-0">Users</h5>
</div>

<div class="text-end p-3">
  <p style="color: green"><%= notice %></p>
  <%= link_to "New user", new_user_path, class: "btn btn-primary", data: { turbo_frame: "remote_modal" } %>
</div>

<div id="users" class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">E-mail</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr id="user_<%= user.id %>" scope="row">
          <%= render user %>
        </tr>
      <% end %>
    </tbody>
  </table>
<div>




